# symlinked cinder path
cinder
!src/cinder

# Mac OS X cruft
*.pbxuser
*.mode1v3
*.mode2v3
*.user
project.xcworkspace
xcuserdata/
.DS_Store

boost/
build/
lib/libcinder*.a
lib/cinder*.lib
audio2*.lib

# Windows cruft
*.suo
*.ncb
*.sdf
*.opensdf
Resources.aps
Debug/
Release/
ipch/
